#body {
	background: #122A56;
}
h2{
	color: white;
	text-align: center;
}
.etiqueta{
	color:white;
    text-align: center;
    font-style: oblique;
	
}
#actualizar{
	background: #122A56;
}

#modalDel{
	background: #122A56;
}